In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import *

In [2]:
df = pd.read_csv('states_all.csv')
df.drop('PRIMARY_KEY', axis=1, inplace=True)
df

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0
1711,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0
1712,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0
1713,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0
1714,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0

Context
This dataset is designed to bring together multiple facets of U.S. education data into one convenient CSV (states_all.csv).

Contents
states_all.csv:
The primary data file. Contains aggregates from all state-level sources in one CSV.

output_files/states_all_extended.csv:
The contents of states_all.csv with additional data related to race and gender.

Column Breakdown
Identification
PRIMARY_KEY: A combination of the year and state name.
YEAR
STATE
Enrollment
A breakdown of students enrolled in schools by school year.

GRADES_PK: Number of students in Pre-Kindergarten education.

GRADES_4: Number of students in fourth grade.

GRADES_8: Number of students in eighth grade.

GRADES_12: Number of students in twelfth grade.

GRADES_1_8: Number of students in the first through eighth grades.

GRADES 9_12: Number of students in the ninth through twelfth grades.

GRADES_ALL: The count of all students in the state. Comparable to ENROLL in the financial data (which is the U.S.
Census Bureau's estimate for students in the state).

The extended version of states_all contains additional columns that breakdown enrollment by race and gender. For example:

G06_A_A: Total number of sixth grade students.

G06_AS_M: Number of sixth grade male students whose ethnicity was classified as "Asian".

G08_AS_A_READING: Average reading score of eighth grade students whose ethnicity was classified as "Asian".

The represented races include AM (American Indian or Alaska Native), AS (Asian), HI (Hispanic/Latino), BL (Black or African American), WH (White), HP (Hawaiian Native/Pacific Islander), and TR (Two or More Races). The represented genders include M (Male) and F (Female).

Financials
A breakdown of states by revenue and expenditure.

ENROLL: The U.S. Census Bureau's count for students in the state. Should be comparable to GRADES_ALL (which is the
NCES's estimate for students in the state).

TOTAL REVENUE: The total amount of revenue for the state.

FEDERAL_REVENUE
STATE_REVENUE
LOCAL_REVENUE
TOTAL_EXPENDITURE: The total expenditure for the state.

INSTRUCTION_EXPENDITURE

SUPPORT_SERVICES_EXPENDITURE

CAPITAL_OUTLAY_EXPENDITURE

OTHER_EXPENDITURE

Academic Achievement
A breakdown of student performance as assessed by the corresponding exams (math and reading,
grades 4 and 8).

AVG_MATH_4_SCORE: The state's average score for fourth graders taking the NAEP math exam.

AVG_MATH_8_SCORE: The state's average score for eight graders taking the NAEP math exam.

AVG_READING_4_SCORE: The state's average score for fourth graders taking the NAEP reading exam.

AVG_READING_8_SCORE: The state's average score for eighth graders taking the NAEP reading exam.

Data Processing
The original sources can be found here:

# Enrollment
https://nces.ed.gov/ccd/stnfis.asp
# Financials
https://www.census.gov/programs-surveys/school-finances/data/tables.html
# Academic Achievement
https://www.nationsreportcard.gov/ndecore/xplore/NDE
Data was aggregated using a Python program I wrote. The code (as well as additional project information) can be found here.

Methodology Notes
Spreadsheets for NCES enrollment data for 2014, 2011, 2010, and 2009
were modified to place key data on the same sheet, making scripting easier.

The column 'ENROLL' represents the U.S. Census Bureau data value (financial data), while the
column 'GRADES_ALL' represents the NCES data value (demographic data). Though the two organizations
correspond on this matter, these values (which are ostensibly the same) do vary. Their documentation chalks this
up to differences in membership (i.e. what is and is not a fourth grade student).

Enrollment data from NCES has seen a number of changes across survey years. One of the more notable is that data on student gender does not appear to have been collected until 2009. The information in states_all_extended.csv reflects this.

NAEP test score data is only available for certain years

The current version of this data is concerned with state-level patterns. It is the author's hope that future
versions will allow for school district-level granularity.

Acknowledgements
Data is sourced from the U.S. Census Bureau and the National Center for Education Statistics (NCES).

Licensing Notes
The licensing of these datasets state that it must not be used to identify specific students or schools. So
don't do that.